
body {
  margin: 0;
  padding: 0;
  background-color: #747988;
  color: rgb(255, 255, 255);
  box-sizing: border-box;
}

.container{
  padding: 25px;
}

.navmenu{
  height: 80px;
  width: 100%;
  padding-top: 20px;
  background-color: #000307;
  }

.navmenu ul{
    list-style: none;
}

.navmenu ul li{
   display: inline;
   padding: 20px;
}

.navmenu ul li a{
   color: floralwhite;
   display: inline-block;
   text-decoration: none;
 }

.navmenu ul li a:hover {
background-color: rgb(24, 139, 233);
}


/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(173, 239, 255);
} */
/* 
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
